body {
  margin: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  body::-webkit-scrollbar {
    width: 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus {
  outline: 0;
}

button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input:focus,
textarea:focus {
  outline: 0;
  -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.8), 0 0px 1px 1px rgba(255, 255, 255, 0.8);
}

ul {
  margin: 0;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

li {
  list-style-type: none;
  list-style: none;
  margin: 0;
}

section {
  padding: 100px 0;
}

@media screen and (max-width: 767px) {
  section {
    padding: 30px 0;
  }
}

.container {
  padding: 0 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 30px;
  }
}

.hide {
  display: none;
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background-color: #fff;
}

#loader div {
  width: 100px;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#loader div:before, #loader div:after {
  content: "";
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  border: 4px solid #e91e63;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#loader div:after {
  border-color: #0dbda1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes loader {
  from {
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

#portfolio {
  background-color: #100e17;
  min-width: 360px;
  -webkit-transition: background-color 0.3s ease, all 0.5s ease;
  transition: background-color 0.3s ease, all 0.5s ease;
}

/* ---------------------navbar----------------- */
#navbar {
  z-index: 1;
  height: 100px;
  position: fixed;
}

@media screen and (max-width: 767px) {
  #navbar {
    height: 60px;
    bottom: 0;
    width: 100%;
  }
  #navbar .nav-container {
    position: relative;
    height: 100%;
  }
  #navbar .nav-container ul {
    position: relative;
    padding: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #2196f3;
  }
  #navbar .nav-container ul li {
    position: relative;
    display: block;
    margin: 0;
    width: 25%;
  }
  #navbar .nav-container ul li > * {
    color: rgba(255, 255, 255, 0.5);
  }
  #navbar .nav-container ul li.selected > * {
    color: #fff;
  }
  #navbar .nav-container ul li i {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #navbar .nav-container ul li a {
    height: 100%;
    min-width: 100%;
    display: block;
    line-height: 85px;
  }
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202026;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-container button {
  display: none;
}

.nav-container ul {
  text-align: center;
  padding: 30px;
  margin: 0;
}

.nav-container li {
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-container li a {
  display: inline-block;
  text-transform: capitalize;
  height: 40px;
  min-width: 100px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .nav-container li a {
    font-size: 14px;
  }
}

.nav-container li i {
  display: none;
}

.nav-container li.selected {
  border-bottom: 2px solid #2196f3;
}

.nav-container li.selected a {
  color: #2196f3;
}

.nav-container .theme-changer {
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  right: 16px;
  bottom: 16px;
  display: inline-block;
  position: fixed;
}

.nav-container .theme-changer button {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  line-height: 48px;
  cursor: pointer;
}

.nav-container .theme-changer .dark {
  display: inline-block;
}

.nav-container .theme-changer .light {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav-container .theme-changer {
    bottom: 76px;
  }
}

/* -----------------------home-------------------- */
#home .hello {
  display: inline-block;
  padding: 5px 30px;
  background-color: #2196f3;
  line-height: 24px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border-bottom-left-radius: 0;
  margin: 20px 0;
  color: #fff;
}

#home .container > * {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  #home .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#home .full-name {
  font-size: 55px;
  font-weight: 600;
  margin: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  #home .full-name {
    font-size: 51px;
  }
}

@media screen and (max-width: 480px) {
  #home .full-name {
    font-size: 45px;
  }
}

@media screen and (max-width: 360px) {
  #home .full-name {
    font-size: 40px;
  }
}

#home .position {
  font-size: 26px;
  margin: 10px 0 30px;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  #home .position {
    font-size: 22px;
  }
}

@media screen and (max-width: 480px) {
  #home .position {
    font-size: 20px;
  }
}

#home .info {
  width: 52%;
}

@media screen and (max-width: 767px) {
  #home .info {
    width: 100%;
    text-align: center;
  }
}

#home .details li {
  margin: 10px 0;
  cursor: pointer;
}

#home .details li i {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

#home .details a {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}

#home .social {
  margin: 20px 0;
}

#home .social a {
  display: block;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
}

#home .social li {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 10px;
  margin-left: 0;
  border-radius: 4px;
  position: relative;
}

#home .social li i {
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
}

#home .social li:hover a {
  background: #fff;
  color: #222;
}

#home .profile-pic {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48%;
  text-align: center;
  padding-top: 60px;
}

#home .profile-pic .img-border {
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

#home .profile-pic .img-border .image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 350px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: border 0.5s ease;
  transition: border 0.5s ease;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  #home .profile-pic .img-border .image {
    max-width: 300px;
    max-height: 300px;
  }
}

@media screen and (max-width: 767px) {
  #home .profile-pic {
    width: 100%;
    padding-top: 0;
    padding-bottom: 50px;
  }
}

/* ----------------------- about --------------------- */
#about .about-image img {
  width: 100%;
}

#about .container > * {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  #about .container > * {
    width: 100%;
  }
}

#about .about-title {
  font-size: 32px;
  margin: 20px 0;
  font-weight: bold;
}

#about .about-me {
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  #about .about-me {
    padding-left: 0;
    text-align: center;
  }
}

#about .about-desc {
  font-size: 14px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}

#about .prog-languages ul li {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px 6px 10px;
  border: 2px solid #2196f3;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

#about .download-btn {
  display: inline-block;
  margin-top: 20px;
}

#about .download-btn a {
  display: inline-block;
  padding: 12px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2196f3;
  border-radius: 24px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#about .download-btn a > * {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}

#about .download-btn a i {
  margin-left: 8px;
  font-size: 18px;
}

/* ------------------ service ----------- */
#service .title {
  font-size: 32px;
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
}

#service #cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  #service #cards-container {
    display: block;
  }
}

#service .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  width: calc(33% - 12px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #202026;
  -webkit-box-shadow: -7px 7px 20px #000;
          box-shadow: -7px 7px 20px #000;
  -webkit-transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

#service .card:not(:last-child) {
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  #service .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

#service .header {
  font-size: 25px;
  margin: 0;
  margin-bottom: 18px;
  line-height: 32px;
  height: 65px;
}

#service .description {
  font-size: 14px;
  margin-bottom: 16px;
  line-height: 20px;
  text-align: justify;
}

#service .icon-bg {
  margin-top: 16px;
  margin-bottom: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

/* --------------- skills ------------------- */
#skills .container > * {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  #skills .container > * {
    width: 100%;
  }
}

#skills .heading {
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}

#skills #technical .technical-container .name {
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
}

#skills #technical .technical-container .value {
  font-size: 14px;
  float: right;
  font-weight: bold;
}

#skills #technical .technical-container .progress {
  margin-bottom: 22px;
  line-height: 24px;
}

#skills #technical .technical-container .progress .progress-bar {
  width: 100%;
  height: 7px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 5px;
}

#skills #technical .technical-container .progress .progress-bar .filled-bar {
  background-color: #2196f3;
  height: 100%;
  border-radius: 10px;
}

#skills #technical .technical-container .progress .progress-bar .filled-bar.animate-on-scroll {
  -webkit-animation: fillBar 3s linear;
          animation: fillBar 3s linear;
}

@-webkit-keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes fillBar {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

#skills #technical .technical-container .progress:nth-child(1) .progress-bar .filled-bar.animate-on-scroll {
  -webkit-animation: fillBar1 3s linear;
          animation: fillBar1 3s linear;
}

@-webkit-keyframes fillBar1 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes fillBar1 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

#skills #technical .technical-container .progress:nth-child(4) .progress-bar .filled-bar.animate-on-scroll {
  -webkit-animation: fillBar2 3s linear;
          animation: fillBar2 3s linear;
}

#skills #technical .technical-container .progress:nth-child(5) .progress-bar .filled-bar.animate-on-scroll {
  -webkit-animation: fillBar2 3s linear;
          animation: fillBar2 3s linear;
}

@-webkit-keyframes fillBar2 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes fillBar2 {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

#skills .professional-container {
  margin: 0 auto;
  max-width: 400px;
}

#skills .professional-container > * {
  display: inline-block;
  width: 50%;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  #skills .professional-container {
    max-width: unset;
  }
}

#skills .professional-container .circle-container {
  position: relative;
}

#skills .professional-container .circle-container .circle {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
}

#skills .professional-container .circle-container .circle .mask {
  position: absolute;
  background-color: #ddd;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  clip: rect(0, 100px, 100px, 50px);
}

#skills .professional-container .circle-container .circle .mask .fill {
  clip: rect(0, 50px, 100px, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#skills .professional-container .circle-container .circle .mask .fill.animate-on-scroll {
  -webkit-animation: rotateLeft 1.5s linear;
          animation: rotateLeft 1.5s linear;
}

#skills .professional-container .circle-container .circle .mask.right {
  clip: rect(0, 50px, 100px, 0);
}

#skills .professional-container .circle-container .circle .mask.right .fill {
  clip: rect(0, 100px, 100px, 50px);
  -webkit-transform: rotate(calc(360deg * 75 / 100 - 180deg));
          transform: rotate(calc(360deg * 75 / 100 - 180deg));
}

#skills .professional-container .circle-container .circle .mask.right .fill.animate-on-scroll {
  -webkit-animation: rotateRight 3s linear;
          animation: rotateRight 3s linear;
}

@-webkit-keyframes rotateLeft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotateLeft {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 75 / 100 - 180deg));
            transform: rotate(calc(360deg * 75 / 100 - 180deg));
  }
}

@keyframes rotateRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 75 / 100 - 180deg));
            transform: rotate(calc(360deg * 75 / 100 - 180deg));
  }
}

#skills .professional-container .circle-container .circle:after {
  content: "";
  width: 88px;
  height: 88px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #100e17;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

@-webkit-keyframes rotateProjectRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 85 / 100 - 180deg));
            transform: rotate(calc(360deg * 85 / 100 - 180deg));
  }
}

@keyframes rotateProjectRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 85 / 100 - 180deg));
            transform: rotate(calc(360deg * 85 / 100 - 180deg));
  }
}

#skills .professional-container .circle-container:nth-child(2) .circle .mask.right .fill {
  -webkit-transform: rotate(calc(360deg * 85 / 100 - 180deg));
          transform: rotate(calc(360deg * 85 / 100 - 180deg));
}

#skills .professional-container .circle-container:nth-child(2) .circle .mask.right .fill.animate-on-scroll {
  -webkit-animation: rotateProjectRight 3s linear;
          animation: rotateProjectRight 3s linear;
}

@-webkit-keyframes rotateTeamRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 80 / 100 - 180deg));
            transform: rotate(calc(360deg * 80 / 100 - 180deg));
  }
}

@keyframes rotateTeamRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(calc(360deg * 80 / 100 - 180deg));
            transform: rotate(calc(360deg * 80 / 100 - 180deg));
  }
}

#skills .professional-container .circle-container:nth-child(3) .circle .mask.right .fill {
  -webkit-transform: rotate(calc(360deg * 80 / 100 - 180deg));
          transform: rotate(calc(360deg * 80 / 100 - 180deg));
}

#skills .professional-container .circle-container:nth-child(3) .circle .mask.right .fill.animate-on-scroll {
  -webkit-animation: rotateTeamRight 3s linear;
          animation: rotateTeamRight 3s linear;
}

#skills #professional .value {
  line-height: 100px;
  position: relative;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#skills #professional .name {
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #skills #professional {
    width: 100%;
    margin-top: 50px;
  }
}

#skills .circle-container:nth-child(n + 3) {
  margin-bottom: 0;
}

/* ------------------------------- experience --------------------------- */
#experience .heading {
  font-size: 30px;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  #experience .heading {
    text-align: center;
  }
}

#experience .container > * {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#experience #education {
  padding-right: 30px;
}

@media screen and (max-width: 767px) {
  #experience #education {
    width: 100%;
    padding-right: 0;
  }
}

#experience #work-experience {
  padding-left: 30px;
}

@media screen and (max-width: 767px) {
  #experience #work-experience {
    width: 100%;
    padding-left: 0;
  }
}

#experience .card {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 150px;
}

#experience .card:hover .inner-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#experience .card .inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #202026;
  -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
  -webkit-transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, -webkit-box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#experience .card .inner-card .card-front,
#experience .card .inner-card .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 26px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #202026;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#experience .card .inner-card .card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#experience .education-name {
  font-size: 20px;
  font-weight: 600;
  color: #2196f3;
}

#experience .education-from {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  display: block;
}

#experience .year {
  margin: 10px 0;
}

#experience .education-from,
#experience .year {
  font-size: 19px;
}

#experience .work-name {
  font-size: 20px;
}

#experience .work-from {
  color: #2196f3;
  font-size: 20px;
  font-style: italic;
}

#experience ul,
#experience li {
  list-style: inside;
  font-size: 16px;
}

#experience #responsibility {
  margin-bottom: 8px;
  display: block;
  font-size: 18px;
}

/* ------------------------ project -------------------------- */
#projects {
  padding-bottom: 0;
}

#projects .project-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
}

#projects .project-nav-container {
  text-align: center;
  margin-bottom: 50px;
}

#projects .project-nav-container ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

#projects .project-nav-container ul li.selected {
  border-bottom: 2px solid #2196f3;
  color: #2196f3;
}

#projects .project-cards-container {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 0px;
          column-gap: 0px;
}

#projects .project-cards-container .project-cards {
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  position: relative;
  text-align: center;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px;
  opacity: 1;
  -webkit-transition: opacity 0.5s, width 0.5s, height 0.5s;
  transition: opacity 0.5s, width 0.5s, height 0.5s;
}

#projects .project-cards-container .project-cards.hide-card {
  height: 0 !important;
  opacity: 0;
  width: 0;
  padding: 0;
  -webkit-transition: opacity 0.5s, width 0.5s, height 0.5s;
  transition: opacity 0.5s, width 0.5s, height 0.5s;
}

#projects .project-cards-container .project-cards .hover-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 15px;
  top: 15px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  background-color: rgba(0, 142, 255, 0.8);
  border-radius: 10px;
  color: #fff;
  -webkit-clip-path: circle(0% at center);
          clip-path: circle(0% at center);
  -webkit-transition: -webkit-clip-path 0.5s ease;
  transition: -webkit-clip-path 0.5s ease;
  transition: clip-path 0.5s ease;
  transition: clip-path 0.5s ease, -webkit-clip-path 0.5s ease;
}

#projects .project-cards-container .project-cards .hover-parent > * {
  display: inline-block;
  line-height: 24px;
}

#projects .project-cards-container .project-cards .hover-parent .card-name {
  font-weight: bold;
}

#projects .project-cards-container .project-cards .hover-parent .card-icon {
  font-size: 20px;
  line-height: 28px;
}

#projects .project-cards-container .project-cards a {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  display: inline-block;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

#projects .project-cards-container .project-cards a .img-container {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#projects .project-cards-container .project-cards a .img-container.tictactoe {
  background-image: url("../assets/tictactoe.png");
}

#projects .project-cards-container .project-cards a .img-container.curis {
  background-image: url("../assets/curis.png");
}

#projects .project-cards-container .project-cards a .img-container.snake {
  background-image: url("../assets/snake.png");
}

#projects .project-cards-container .project-cards a .img-container.sorting {
  background-image: url("../assets/sorting.png");
}

#projects .project-cards-container .project-cards a:hover .hover-parent {
  -webkit-clip-path: circle(100% at center);
          clip-path: circle(100% at center);
}

@media screen and (min-width: 1440px) {
  #projects .project-cards-container {
    -webkit-column-count: 4;
            column-count: 4;
  }
}

@media screen and (max-width: 767px) {
  #projects .project-cards-container {
    -webkit-column-count: 2;
            column-count: 2;
  }
}

@media screen and (max-width: 575px) {
  #projects .project-cards-container {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

/* ------------------------ contact -------------------------- */
#contact {
  padding: 0 0 32px;
}

@media screen and (max-width: 767px) {
  #contact {
    padding: 0 0 80px;
  }
}

.footer {
  padding: 0 8%;
}

.footer .page-footer > * {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer .page-footer > * {
    width: 100%;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
}

.footer .page-footer .copyright {
  padding-left: 15px;
  font-size: 14px;
}

.footer .page-footer .social-media {
  padding-left: 22px;
  text-align: right;
}

.footer .page-footer .social-media li {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
}

.footer .page-footer .social-media a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .footer .page-footer {
    margin-top: 20px;
  }
  .footer .page-footer .social-media {
    padding-left: 0px;
    text-align: center;
  }
}

/* ------------------------ icons -------------------------- */
.icon {
  background-repeat: no-repeat;
  background-size: cover;
}

.ui-icon {
  background-image: url("../assets/ui.png");
}

.code-icon {
  background-image: url("../assets/code.png");
}

.app-icon {
  background-image: url("../assets/app-dev.png");
}

/* --------------------------------- light mode -------------------------------------- */
#portfolio.light-mode {
  color: #222;
  background-color: #fff;
}

#portfolio.light-mode a,
#portfolio.light-mode .nav-container {
  color: #222;
}

#portfolio.light-mode #navbar .nav-container {
  background-color: #fff;
}

#portfolio.light-mode #navbar .nav-container li.selected {
  border-color: #2196f3;
}

#portfolio.light-mode #navbar .nav-container .theme-changer button {
  background-color: #000;
  color: #fff;
}

#portfolio.light-mode #navbar .nav-container .theme-changer .dark {
  display: none;
}

#portfolio.light-mode #navbar .nav-container .theme-changer .light {
  display: inline-block;
}

#portfolio.light-mode #service .card,
#portfolio.light-mode #experience .card .inner-card {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 10px 20px 4px rgba(0, 0, 0, 0.08);
}

#portfolio.light-mode #service .card .card-front,
#portfolio.light-mode #service .card .card-back,
#portfolio.light-mode #experience .card .inner-card .card-front,
#portfolio.light-mode #experience .card .inner-card .card-back {
  background-color: #fff;
}

#portfolio.light-mode #skills .professional-container .circle-container .circle:after {
  background-color: #fff;
}

#portfolio.light-mode #home .social li {
  background: #fff;
  color: #222;
}

#portfolio.light-mode #home .social li:hover a {
  background: #000;
  color: #fff;
}
/*# sourceMappingURL=styles.css.map */