<div class="footer">
    <div class="page-footer">
        <div class="copyright"><span>{{copyright}}</span></div>
        <div class="social-media">
            <ul>
                {{#each social_icons}}<li class="{{this.icon_class}}"><a target="_blank" href="{{this.link}}"></a></li>{{/each}}
            </ul>
        </div>
    </div>
</div>