<div class="footer">
    <div class="page-footer">
        <div class="copyright"><span>{{copyright}}</span></div
        ><div class="social-media">
            <ul>
                {{#each social_icons}}
                <li>
                    <a target="_blank" href="{{this.link}}" title="{{this.title}}">
                        <i class="{{this.icon_class}}"></i>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>